*{
    margin: 0;
    padding:0;
    font-family: '微软雅黑';
    border:0;
}
ul,ol,dl,li{
    list-style-type: none;
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
    color: #333;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

/*伪类清除，在布局的后边设置一个看不见的布局，在它上面挂载清除属性*/
.clearfix:after{
    content: '.';
    visibility: hidden;
    height: 0;
    clear: both;
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
}
/*总结：
1.首先，body有默认的margin值
2. 然后，ul,ol,dl都会有内外边距、默认的符号
3.链接默认是带有下划线的，链接的颜色是默认蓝色的
4.h1-h6 默认的字体大小
5.input/button 默认都会有边框，会有内边距
*/